.pricing-card{
    background-color: #FCEDEA;
    border-radius: 10px;
    padding: 20px 10px;
}

.pricing-card h4{
    font-family: "Tenor Sans";
    background-color: darksalmon;
    margin-bottom: 15px;
}